body {
    background: #fff url(../img/header_bg.gif) 0 0 repeat-x;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #039;
}

/* Header start */
#outer_container {
    background: transparent url(../img/logo_icon.png) 0 29px no-repeat;
}

#header {
    height: 98px;
}

#header .logo a {
    display: block;
    width: 181px;
    height: 28px;
    margin-top: 41px;
    background: transparent url(../img/logo_txt.png) 0 0 no-repeat;
    text-indent: -9000px;
}

#top_nav {
    margin-top: 52px;
}

#top_nav ul {
    list-style-type: none;
    float: right;
}

#top_nav li {
    display: block;
    float: left;
    margin: 0;
}

#top_nav a, #top_nav a:visited, #top_nav a:active {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    color: #000;
}

#top_nav a:hover {
    background-color: #000;
    color: #e3e9ff;
}

/* Header end */

/* Content start */

#content {
    padding-top: 8px;
}

#content h1 {
    font-size: 270%;
    border: solid #aaa;
    border-width: 0 0 1px 0;
}

#content h2 {
    margin-bottom: 4px;
}

#content p {
    font-size: 110%;
}

#content p.help_text {
    color: #666;
}

/* Content end */

/* Sidehelp start */

#side_help {
    font-family: Georgia, "Times New Roman", serif;
}

#side_help h2 {
    font-size: 130%;
    color: #666;
}

#side_help h2.top {
    margin: 23px 0 10px 0;
}

#side_help h2.bottom {
    text-align: right;
    margin: 0;
}

#side_help .bubble {
    width: 220px;
    background: transparent url(../img/help_bubble_bg_mid.gif) 0 0 repeat-y;
    margin-bottom: 11px;
}

#side_help .bubble .top {
    width: 220px;
    height: 11px;
    background: transparent url(../img/help_bubble_bg_top.gif) 0 0 no-repeat;
}

#side_help .bubble .bottom {
    width: 220px;
    height: 11px;
    background: transparent url(../img/help_bubble_bg_bot.gif) 0 0 no-repeat;
}

#side_help .bubble p {
    margin: 0 14px;
}
/* Sidehelp end */