body {
    background: #fff url(../img/header_bg.gif) 0 0 repeat-x;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #039;
    text-decoration: underline;
}

a:hover {
    color: #fff;
    background-color: #039;
    text-decoration: none;
}

fieldset input,
dd input,
fieldset textarea,
dd textarea {
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid #666;
}

fieldset input:focus,
dd input:focus,
fieldset textarea:focus,
dd input:focus {
    border-color: #000;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

ul.separated {
    border-top: 1px solid #ccc;
    list-style-type: none;
    margin-bottom: 4px;
}

ul.separated li {
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 4px;
}

p.add_after_list {
    text-align: right;
    font-size: 90%;
}

.errorlist {
    color: #900;
    background-color: #fee;
    list-style: none;
    padding: 12px 8px 8px 8px;
}

.errorlist li {
    margin-bottom: 4px;
    margin-left: 0;
}

/* Header start */
#outer_container {
    background: transparent url(../img/logo_icon.png) 0 29px no-repeat;
}

#header {
    height: 98px;
}

#header .logo a {
    display: block;
    width: 181px;
    height: 28px;
    margin-top: 41px;
    background: transparent url(../img/logo_txt.png) 0 0 no-repeat;
    text-indent: -9000px;
}

#top_nav {
    margin-top: 52px;
}

#top_nav ul {
    list-style-type: none;
    float: right;
}

#top_nav li {
    display: block;
    float: left;
    margin: 0;
}

#top_nav a, #top_nav a:visited, #top_nav a:active {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    color: #000;
}

#top_nav a:hover {
    background-color: #000;
    color: #e3e9ff;
}

/* Header end */

/* Content start */

#content {
    padding-top: 8px;
    font-size: 100%;
}

#content h1 {
    font-size: 185%;
    border: solid #aaa;
    border-width: 0 0 1px 0;
    margin-bottom: 20px;
}

#content h2 {
    margin-bottom: 4px;
    font-size: 135%;
}

#content p.help_text {
    color: #666;
    margin-bottom: 8px;
}

#content fieldset {
    margin-bottom: 25px;
}

#content fieldset input,
#content fieldset textarea {
    width: 500px;
    padding: 4px;
    font-size: 120%;
}

/*
#content .sub_nav {
    list-style: none;
    border-left: 1px solid #aaa;
}

#content .sub_nav li {
    float: left;
    border-right: 1px solid #aaa;
    margin: 0;
}

#content .sub_nav a {
    display: block;
    padding: 8px 16px;
}
*/

#content .form_table th {
    text-align: right;
    padding-right: 16px;
}

#content .form_table th label {
    display: block;
    width: 96px;
}

#content .form_table td {
    padding-bottom: 8px;
}

#content .form_table td input {
    width: 388px;
}

#submit_wrapper {
    padding: 12px;
    border: 2px solid #000;
    background-color: #e3e9ff;
}

/* Content end */

/* Sidehelp start */

#side_help {
    font-family: Georgia, "Times New Roman", serif;
}

#side_help h2 {
    font-size: 130%;
    color: #666;
}

#side_help h2.top {
    margin: 23px 0 10px 0;
}

#side_help h2.bottom {
    text-align: right;
    margin: 0;
}

#side_help .bubble {
    width: 220px;
    background: transparent url(../img/help_bubble_bg_mid.gif) 0 0 repeat-y;
    margin-bottom: 11px;
}

#side_help .bubble .top {
    width: 220px;
    height: 11px;
    background: transparent url(../img/help_bubble_bg_top.gif) 0 0 no-repeat;
}

#side_help .bubble .bottom {
    width: 220px;
    height: 11px;
    background: transparent url(../img/help_bubble_bg_bot.gif) 0 0 no-repeat;
}

#side_help .bubble p {
    margin: 0 14px 4px 14px;
}
/* Sidehelp end */

/* Notices/messages start */

#notices, #messages {
    background-color: #ffc;
    padding: 8px 16px;
    list-style: none;
}

#notices li, #messages li {
    margin: 0;
}

/* Notices/messages end

/* Add chore start */
#add_chore_form fieldset.details textarea {
    height: 5em;
}

#add_chore_form fieldset.interval #id_interval {
    margin-top: 5px;
    margin-right: 1em;
}

#add_chore_form fieldset.interval #interval_other {
    display: inline;
    padding: 10px 1em;
}

#add_chore_form fieldset.interval #interval_other input {
    width: 30px;
}
/* Add chore end */

/* My Household start */
#content #hhold_title {
    border-width: 0;
    margin-bottom: 0;
}
/* My Household end */

/* Add housemates begin */
#hmate_add_form .elem {
    width: 244px;
    height: 127px;
    border: 2px solid #000;
    float: left;
    margin-bottom: 16px;
    padding: 16px;
}

#hmate_add_form .alt {
    margin-right: 16px;
}

#hmate_add_form .add {
    background-color: #e3ffe9;
    border-color: #709f35;
    padding: 0;
    width: 276px;
    height: 159px;
    margin-bottom: 32px;
    margin-right: 0;
}

#hmate_add_form .add a {
    display: block;
    width: 276px;
    background: transparent url(../img/plus_64.png) 50% 50% no-repeat;
    text-align: center;
    color: #709f35;
    padding-top: 111px;
}

#hmate_add_form .add a:hover {
    background-image: url(../img/plus_64_hover.png);
}

#hmate_add_form .hmate {
    background-color: #eee;
}

#hmate_add_form .identifier {
    font-size: 70%;
    float: right;
    margin: 0;
    color: #999;
}

#hmate_add_form dt {
    font-size: 90%;
    margin-top: 8px;
}

#hmate_add_form dd input {
    padding: 2px;
    font-size: 100%;
}

#hmate_add_form dd p {
    font-weight: bold;
    margin: 0;
}

#hmate_add_form .name input {
    width: 97px;
}

#hmate_add_form .email input {
    width: 203px;
}

#hmate_add_form .first_name {
    margin-right: 3px;
}

#hmate_add_form .elem .errorlist {
    font-size: 80%;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    width: 209px;
}

#hmate_add_form .elem .errorlist li {
    margin: 0;
    color: #900;
}

/* Add housemates end */

/* Invite housemate start */
.hmate_search_result {
    background-color: #e3e9ff;
    border: 2px solid #000;
    padding: 12px;
    margin-bottom: 1em;
}

.hmate_search_result h3 {
    font-size: 120%;
    margin-bottom: 0;
    float: left;
}

.hmate_search_results p {
    font-size: 110%;
    margin-bottom: 0;
}

.hmate_search_results span.invite_search_again_link {
    font-size: 80%;
    color: #666;
}

.hmate_search_results span.invite_search_again_link a {
    color: #669;
}
/* Invite housemate end */

/* Edit account start */

#account_edit_form .name input, #registration_form .name input {
    width: 243px;
}

/* Edit account end */

/* Housemate detail start */

/* Housemate detail end */

/* Chore detail start */

.fields {
    padding: 8px;
    background: #eee;
    border: 1px solid #aaa;
    margin-bottom: 16px;
}

.fields p {
    margin: 0;
}

/* Chore detail end */

/* My chores start */

.chore {
    padding: 8px;
    background: #eee;
    border: 1px solid #aaa;
    margin-bottom: 16px;
}

.chore a, .chore a:visited, .chore a:active {
    float: right;
    display: block;
    background-color: #e3e9ff;
    border: 1px solid #039;
    text-decoration: none;
    padding: 4px 6px;
}

.chore a:hover {
    background-color: #039;
    color: #e3e9ff;
    border-color: #e3e9ff;
}

.chore h3 {
    margin-bottom: 8px;
}

.chore p {
    margin: 0;
}

/* My chores end */

/* Edit household start */

#hhold_edit_form {}

/* Edit household end */

/* Registration start */

#registration_form .tos p {
    margin: 0;
}

/* Registration end */

#registration_form #id_password1 {
    margin-bottom: 8px;
}