{% extends "base_sidehelp.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>

{{ form.non_field_errors }}
<form action="" method="POST">
	<fieldset class="email">
		<h2>E-mail</h2>
		{{ form.username.errors }}
		{{ form.username }}
	</fieldset>
	
	<fieldset class="email">
		<h2>{{ form.password.label }}</h2>
		{{ form.password.errors }}
		{{ form.password }}
	</fieldset>
	
	<p>
		<span id="submit_wrapper"><input type="submit" name="submit" value="Log In" /></span> or <a href="{% url pw_reset %}">forgot your password?</a>
	</p>
</form>

{% endblock %}