{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>

<p><a href="{% url pw_reset %}">Forgot your password?</a></p>

{{ form.non_field_errors }}
<form action="" method="POST">
	<table cellpadding="0" cellspacing="0" class="form_table">
		<tr>
			<th><label for="id_username">E-mail:</label></th>
			<td>
				{{ form.username.errors }}
				{{ form.username }}
			</td>
		</tr>
		<tr>
			<th>{{ form.password.label }}:</th>
			<td>
				{{ form.password.errors }}
				{{ form.password }}
			</td>
		</tr>
		<tr>
			<td>
				<input type="submit" name="submit" value="Log In">
			</td>
		</tr>
	</table>
</form>

{% endblock %}