{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h1>Change Password</h1>

<form action="" method="POST">
	{{ form.non_field_errors }}
	<fieldset class="old_password">
		<h2>Type your <em>old</em> password.</h2>
		{{ form.old_password.errors }}
		{{ form.old_password }}
	</fieldset>
	
	<fieldset>
		<h2>Type your <em>new</em> password.</h2>
		{{ form.new_password1.errors }}
		{{ form.new_password1 }}
	</fieldset>
	
	<fieldset>
		<h2>Type your new password <em>one more time</em>.</h2>
		{{ form.new_password2.errors }}
		{{ form.new_password2 }}
	</fieldset>
    
	<p>
		<span id="submit_wrapper"><input type="submit" name="submit" value="Change Password" /></span>
		or <a href="{% url me_edit %}">go back</a>.
	</p>
</form>
{% endblock %}