{% extends "base_sidehelp.html" %}

{% block title %}Registration Complete{% endblock %}

{% block content %}
<h1>Registration Complete</h1>

<p>Your registration is complete. Before logging in, you'll need to activate your account. To do this, open your email (the account that you specified when you registered), find the message we sent you, and click the activation link inside.</p>

<p class="highlight">Make sure to check your <strong>spam/junk folder</strong> for the activation email, if it's not in your inbox.</p>
{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>If you don't see the email right away (and you've checked your spam/junk folder), don't worry; sometimes the intertubes can get clogged, and email can take a few minutes to arrive.</p>
	<p>If it's been more than a few minutes, there's probably something wrong on our end, so <a href="#">contact us</a> and let us know.</p>
</div>
{% endblock %}