{% extends "base.html" %}

{% block title %}Invite a New Housemate{% endblock %}

{% block content %}
<h1>Invite a New Housemate</h1>
<p>If you want to invite someone to your household, but they already have a PowrHouse account (so you can't add them the <a href="{% url hmate_add %}">normal way</a>), but they're currently in another household (or they're not in any household), ask them for their e-mail address, search for them using this form, and then send them an invitation!</p>

<form action="" method="GET">
	<fieldset class="email">
		<h2>{{ form.email.label }}</h2>
		{{ form.email.errors }}
		{{ form.email }}
	</fieldset>
    <p>
		<span id="submit_wrapper"><input type="submit" name="submit" value="Find Account" /></span>
		or <a href="{% url my_hhold %}">go back</a>.
	</p>
</form>

{% if searched %}
<hr>
{% if hmate %}
		{% if hmate.hhold %}
		<p>The user you searched for is already in another household. If this person is moving in with you soon (or already has), he or she will need to leave his or her current household (<a href="#">click here for help</a>) before joining yours.</p>
		{% else %}
		<p>Is this who you were looking for?</p>
		<div class="search_result">
			<h2>{{ hmate.get_full_name }}</h2>
			<p><a href="{% url invite hmate.pk %}">Invite to your household</a></p>
		</div>
		{% endif %}
{% else %}
	<p>Sorry, there are no PowrHouse users with this email address (who aren't already in a household or invited to this household).</p>
{% endif %} 
{% endif %}
{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>Of course, if your buddy doesn't have a PowrHouse account yet, you should use the <a href="{% url hmate_add}">Add Housemates form</a>.</p>
</div>
{% endblock %}