{% extends "base_sidehelp.html" %}

{% block title %}Edit My Account{% endblock %}

{% block content %}
<h1>Edit My Account</h1>

<form action="" method="POST" enctype="multipart/form-data" id="account_edit_form">
	<fieldset class="name">
		<h2>Name</h2>
		{{ form.first_name.errors }}
		{{ form.last_name.errors }}
		{{ form.first_name }}
		{{ form.last_name }}
	</fieldset>
	
	<fieldset class="email">
		<h2>{{ form.email.label }}</h2>
		{{ form.email.errors }}
		{{ form.email }}
	</fieldset>
	
	<fieldset class="Password">
		<h2>Password</h2>
		<p>Hidden. <a href="{% url pw_edit %}">Change it here.</a></p>
	</fieldset>
	
	<p><span id="submit_wrapper"><input type="submit" name="submit" value="Save Account" /></span> or <a href="{% url my_hhold %}">go back</a>.</p>
</form>
{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>This is about as simple as we could make this page. We couldn't even think of any help bubbles to put here. I guess that's a good thing!</p>
</div>
{% endblock %}