{% extends "base_sidehelp.html" %}

{% block title %}My Chores{% endblock %}

{% block content %}
<h1>My Chores</h1>

{% if curr_hmate.has_incomplete_assignments %}
<h2>It's your turn turn to do:</h2>

{% for assign in curr_hmate.get_incomplete_assignments.all %}
<div class="chore clearfix">
	<a href="{% url assign_done assign.pk %}">Done!</a>
	<h3>{{ assign.chore.name }}</h3>
	{% if assign.is_late %}
	<p class="late">({{ assign.get_days_late }} day{{ assign.get_days_late|pluralize }} late)</p>
	{% endif %}
	<p class="details">{{ assign.chore.details }}</p>
</div>
{% endfor %}

{% else %}
<p>You've got no chores to do!</p>
{% endif %}

{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>If you want to add some new chores to be done in your household, go to <a href="{% url my_hhold %}">your household</a> and add them there.</p>
</div>
{% endblock %}