{% extends "base_sidehelp.html" %}

{% block title %}My Chores{% endblock %}

{% block content %}
<h1>My Chores</h1>

{% if curr_hmate.has_incomplete_assignments %}
<h2>It's your turn turn to do:</h2>

{% for assign in curr_hmate.get_incomplete_assignments.all %}
<div class="chore clearfix">
	<div class="inner">
		<a href="{% url assign_done assign.pk %}" class="clearfix blue_button chore_done">
			<span class="begin">Done!</span>
			<span class="end"></span>
		</a>
		<h3>{{ assign.chore.name }}{% if assign.is_late %}
		 <span class="late">{{ assign.get_days_late }} day{{ assign.get_days_late|pluralize }} late</span>
		{% endif %}</h3>
		
		<p class="details">{{ assign.chore.details }}</p>
	</div>
	<div class="bot"></div>
</div>
{% endfor %}

{% else %}
<p>You've got no chores to do!</p>
{% endif %}

{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>If you want to <strong>add some new chores</strong> to your household, go to <a href="{% url my_hhold %}">your household</a> and add them there.</p>
</div>
{% endblock %}