{% extends "base.html" %}

{% block outer_content %}
<div class="grid_1">&nbsp;</div>
<div class="grid_10" id="content">
	{% if messages %}
	<ul id="messages">
		{% for msg in messages %}
		<li>{{ msg|safe }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if top_notices %}
	<ul id="notices">
		{% for top_notice in top_notices %}
		<li>{{ top_notice|safe }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% block content %}{% endblock %}
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4" id="side_help">
	<h2 class="top">Need help?</h2>
	{% block sidehelp %}{% endblock %}
	<h2 class="bottom"><a href="http://getsatisfaction.com/powrhouse" target="_blank">Need more help?</a></h2>
</div>
{% endblock %}
