<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <title>{% block site_title %}PowrHouse - {% block title %}{% endblock %}{% endblock %}</title>

{% block main_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/reset.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/960.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/text.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css">
{% endblock %}
{% block extra_stylesheets %}{% endblock %}

{% block main_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
{% endblock %}
{% block extra_javascript %}
{% endblock %}

{% block extra_header %}
{% endblock %}

</head>

<body id="{% block body_id %}{% endblock %}">

<div class="container_16" id="outer_container">
	<div class="grid_16" id="header">
		<div class="grid_1 alpha">&nbsp;</div>
		<div class="grid_4 logo">
			<a href="http://powrhouse.net/">PowrHouse</a>
		</div>
		<div class="grid_11 omega" id="top_nav">
			<ul>
				{% if not user.is_anonymous %}
				<li><a href="{% url my_chores %}">My Chores</a></li>
				<li><a href="{% url my_hhold %}">My Household</a></li>
				<li><a href="{% url me_edit %}">My Account</a></li>
				<li><a href="{% url auth_logout %}">Log Out</a></li>
				{% else %}
				<li><a href="{% url registration_register %}">Register</a></li>
				<li><a href="{% url auth_login %}">Log In</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	
	{% block outer_content %}
	<div class="grid_1">&nbsp;</div>
	<div class="grid_10" id="content">
		{% block content %}{% endblock %}
	</div>
	<div class="grid_1">&nbsp;</div>
	<div class="grid_4" id="side_help">
		<h2 class="top">Need help?</h2>
		{% block sidehelp %}{% endblock %}
		<h2 class="bottom"><a href="#">Need more help?</a></h2>
	</div>
	<div class="clear"></div>
	{% endblock %}
</div>
</body>
</html>