<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <title>{% block site_title %}PowrHouse - {% block title %}{% endblock %}{% endblock %}</title>

{% block main_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/reset.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/960.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/framework/text.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css">
{% endblock %}
{% block extra_stylesheets %}{% endblock %}

{% block main_javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
{% endblock %}
{% block extra_javascript %}
{% endblock %}

{% block extra_header %}
{% endblock %}

</head>

<body id="{% block body_id %}{% endblock %}">

<div class="container_16" id="outer_container">
	<div class="grid_16" id="header">
		<div class="grid_1 alpha">&nbsp;</div>
		<div class="grid_4 logo">
			<a href="http://powrhouse.net/">PowrHouse</a>
		</div>
		<div class="grid_11 omega" id="top_nav">
			<ul>
				<li><a href="#">Contact Us</a></li>
				{% if not user.is_anonymous %}
				{% if hmate.hhold %}
				<li><a href="{% url my_chores %}">My Chores</a></li>
				<li><a href="{% url my_hhold %}">My Household</a></li>
				{% else %}
				<li><a href="{% url hhold_create %}">Create Your Household</a></li>
				{% endif %}
				<li><a href="{% url me_edit %}">My Account</a></li>
				<li><a href="{% url auth_logout %}">Log Out</a></li>
				{% else %}
				<li><a href="{% url registration_register %}">Register</a></li>
				<li><a href="{% url auth_login %}">Log In</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="clear"></div>
	
	{% block outer_content %}{% endblock %}
	<div class="clear"></div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9824597-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "powrhouse";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "problem";
  
  
  
  
  
  

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</body>
</html>