Dear {{ hmate.get_full_name }},<br>
{% ifequal hmate.get_incomplete_assigns.count 0 %}You have no chores today.<br>
{% else %}You have {{ hmate.get_incomplete_assigns.count }} chore{{ hmate.get_incomplete_assigns.count|pluralize }} today:<br>
<br>
{% for assign in hmate.get_incomplete_assigns %}
{{ assign.chore.name }}
{% ifnotequal assign.get_days_late 0 %}({{ assign.get_days_late }}
day{{ assign.get_days_late|pluralize }} late){% endifnotequal %}
(<a href="http://{{ site.domain }}{{ assign.get_email_done_url }}">click here</a> if complete)<br>
{% endfor %}
We'll send you another email at 8pm to remind you about your chore{{ hmate.get_incomplete_assigns.count|pluralize }}.<br>
{% endifequal %}
<br>
Thanks<br>
- The {{ site.name }} Team
