{% extends "base.html" %}

{% block title %}{{ hmate.get_full_name }}{% endblock %}

{% block content %}
<h1>{{ hmate.get_full_name }} <span class="sub_nav">({% if not hmate.has_logged_in %}<a href="{% url hmate_edit_inactive hmate.pk %}">edit</a>, {% endif %}<a href="{% url hmate_boot hmate.pk %}">boot</a>)</span></h1>

<h2>Chores To Do</h2>
{% if hmate.has_incomplete_assignments %}
<ul class="chores separated">
	{% for assign in hmate.get_incomplete_assignments.all %}
	<li>
		<a href="{{ assign.chore.get_absolute_url }}">{{ assign.chore.name }}</a>
		{% if assign.is_late %}
		({{ assign.get_days_late }} day{{ assign.get_days_late|pluralize }} late)
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% else %}
<p>None!</p>
{% endif %}

<p><strong><a href="{% url my_hhold %}">&laquo; Back to your household</a></strong>

{% endblock %}