{% extends "base.html" %}

{% block title %}{{ chore.name }}{% endblock %}

{% block content %}

<h1>{{ chore.name }}</h1>
<h2>Done every {{ chore.get_humanized_interval }}</h2>

<p>{{ chore.details }}</p>

<ul>
	<li><a href="{% url chore_edit chore.pk %}">Edit</a></li>
	<li><a href="{% url chore_delete chore.pk %}">Delete</a></li>
</ul>

<h2>History</h2>
{% if chore.has_assignments %}
	<ul>
	{% for assign in chore.get_recent_history %}
		<li>
		{# When was it done (or is it still not done) #}
		{% if not assign.is_done %}
			Currently assigned to
			{# Who is it assigned to? #}
			{% ifequal assign.assigned_to curr_hmate %}
				you
			{% else %}
				<a href="{{ assign.assigned_to.get_absolute_url }}">{{ assign.assigned_to.get_full_name }}</a>
			{% endifequal %}
		{% else %}
			Done on {{ assign.done_at|date:"l, M jS, Y" }} by
			{# Who was it done by? #}
			{% ifequal assign.done_by curr_hmate %}
				you
			{% else %}
				<a href="{{ assign.done_by.get_absolute_url }}">{{ assign.assigned_to.get_full_name }}</a>
			{% endifequal %}
		{% endif %}
		
		{# Is/was it late? #}
		{% if assign.is_late %}
			({{ assign.get_days_late }} 
			day{{ assign.get_days_late|pluralize }} late)
		{% endif %}
		
		{# If it hasn't been done, allow the viewer to mark it done #}
		{% if not assign.is_done %}
			(<a href="{% url assign_done assign.pk %}">I did {{ chore.name }} today.</a>)
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No one has had this chore yet.</p>
{% endif %}

{% endblock %}