{% extends "base_sidehelp.html" %}
{% load humanize %}

{% block title %}{{ chore.name }}{% endblock %}

{% block content %}

<h1>{{ chore.name }} <span class="sub_nav"></span>(<a href="{% url chore_edit chore.pk %}">edit</a>, <a href="{% url chore_delete chore.pk %}">delete</a>)</h1>
<p>
	Bathrooms is done <strong>every {{ chore.get_humanized_interval }}</strong>.
	{% if chore.details %}
	<br>
	<strong>Details:</strong> {{ chore.details }}
	{% endif %}
</p>

<h2>History</h2>
{% if chore.has_assignments %}
	<ul class="separated">
	{% for assign in chore.get_recent_history %}
		<li>
		{# When was it done (or is it still not done) #}
		{% if not assign.is_done %}
			Currently assigned to
			{# Who is it assigned to? #}
			{% ifequal assign.assigned_to curr_hmate %}
				you
			{% else %}
				<a href="{{ assign.assigned_to.get_absolute_url }}">{{ assign.assigned_to.get_full_name }}</a>
			{% endifequal %}
		{% else %}
			Done {{ assign.done_at|naturalday:"l, M jS, Y" }} by
			{# Who was it done by? #}
			{% ifequal assign.done_by curr_hmate %}
				you
			{% else %}
				<a href="{{ assign.done_by.get_absolute_url }}">{{ assign.assigned_to.get_full_name }}</a>
			{% endifequal %}
		{% endif %}
		
		{# Is/was it late? #}
		{% if assign.is_late %}
			({{ assign.get_days_late }} 
			day{{ assign.get_days_late|pluralize }} late)
		{% endif %}
		
		{# If it hasn't been done, allow the viewer to mark it done #}
		{% if not assign.is_done %}
			(<a href="{% url assign_done assign.pk %}">I did this chore today</a>)
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No one has had this chore yet.</p>
{% endif %}

<p><strong><a href="{% url my_hhold %}">&laquo; Back to your household</a></strong>

{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>If you've completed a chore that someone else was assigned, you can still get credit for it. Just click <strong>"I did this chore today"</strong> next to the latest assignment in the history, and you'll get credit!</p>
</div>
{% endblock %}