{% extends "base_no_sidehelp.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Us</h1>

<div class="person clearfix">
	<img src="{{ MEDIA_URL }}img/jake.jpg" alt="Photo of Jake Boxer" class="photo">
	<h2>Jake Boxer <span class="sub_nav">(<a href="mailto:jake@powrhouse.net">email</a>, <a href="http://www.twitter.com/jake_boxer/">Twitter</a>, <a href="http://jboxer.com/">blog</a>)</span></h2>
	<h3>Lead Developer</h3>
	<p>Jake is a software engineer at Cisco Systems, and recently graduated summa cum laude from UMass Amherst with a B.S. in Computer Science. He lives in Cambridge, MA.</p>
	
	<p>Jake is passionate about creating useful and usable software, and derives much of his inspiration from <a href="http://www.37signals.com/">37signals</a> and <a href="http://www.balsamiq.com/">Balsamiq</a>. He has an unhealthy obsession with Harry Potter which has resulted in (among other things) an ankle tattoo.</p>
</div>

<div class="person clearfix">
	<img src="{{ MEDIA_URL }}img/joan.jpg" alt="Photo of Joan Goodman" class="photo">
	<h2>Joan Goodman <span class="sub_nav">(<a href="mailto:joan@powrhouse.net">email</a>)</span></h2>
	<h3>Lead Designer</h3>
	<p>Joan is a graphic designer with a BA from Mass Art. She lives in Carlisle, MA, and is Jake's mother.</p>
	<p>She will have a more recent and a more comprehensive blurb once she comes online and provides her son with them.</p>
</div>

<div class="person clearfix last">
	<img src="{{ MEDIA_URL }}img/alex.jpg" alt="Photo of Alex Gontar" class="photo">
	<h2>Alex Gontar <span class="sub_nav">(<a href="mailto:alex@powrhouse.net">email</a>)</span></h2>
	<h3>Lead Copywriter</h3>
	<p>Alex recently graduated cum laude from Boston University with a B.A. in History and American Studies. He graduated with distinction in History after spending a lot of time reading and writing about dead people. He lives in Cambridge, MA with Jake.</p>
	<p>Over the years, Alex has written many words and composed numerous sentences. His favorite television show is Early Edition.</p>
</div>
{% endblock %}