{% extends "base_no_sidehelp.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h1>Contact Us</h1>

<p>If you've found a bug/error, or something isn't working the way you think it should be working (like you haven't received your activation email, or chores haven't been getting properly assigned in your household), send an email to our lead developer at:</p>

<img src="{{ MEDIA_URL }}img/email_address.gif" alt="Lead developer email address" id="email_img">

<p>You can also check out our growing <a href="http://getsatisfaction.com/powrhouse">GetSatisfaction community-powered knowledge base</a> for quick answers to common questions.

<p>We have a few other contact methods as well:</p>

<ul class="separated">
	<li><a href="http://www.twitter.com/powr_house">Twitter (@powr_house)</a></li>
	<li><a href="http://www.facebook.com/pages/PowrHouse/106122232807">Facebook</a></li>
	<li><a href="http://www.linkedin.com/companies/powrhouse">LinkedIn</a></li>
	<li><strong>AOL Instant Messenger:</strong> JakeD409</li>
</ul>
{% endblock %}