{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>This software is currently in ALPHA TESTING.</h1>

<p>This means that it's almost completely untested. I <em>know</em> there are bugs in it; I just don't know where they are. I also know there are areas that need some major design cleaning.</p>

<p>To put it bluntly, it's very incomplete. Do not depend on this software for anything extremely important (like, don't make one of your chores "check grandpa's pacemaker").</p>
{% endblock %}

{% block sidehelp %}
<div class="bubble">
	<p>Yes, this page will eventually be replaced with something pretty that tries to convince people to register.</p>
</div>
{% endblock %}