{% extends "base_no_sidehelp.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>PowrHouse makes managing your household's chores <em>easy</em>.</h1>

<div id="how_it_works">
	<div class="top"></div>
	<ul>
		<li class="step_1">
			<h2>Step 1: <span class="instruction">Just once, tell PowrHouse the chores that need to get done.</span></h2>
			<div class="img_container">
				<img src="{{ MEDIA_URL }}img/how_it_works_add.png">
			</div>
		</li>
		<li class="step_2">
			<h2>Step 2: <span class="instruction">PowrHouse automatically assigns the chores to you and your housemates. Then, the night before someone has a chore due, PowrHouse will send him or her a personal email reminder.</span></h2>
			<div class="img_container">
				<img src="{{ MEDIA_URL }}img/how_it_works_mail.png">
			</div>
		</li>
		<li class="last">
			<h2>That's it! <a href="{% url registration_register %}">Sign up free now &raquo;</a></h2>
		</li>
	</ul>
	<div class="bot"></div>
</div>

{% endblock %}
