{% extends "base.html" %}

{% block title %}{{ curr_hmate.get_hhold_name }}{% endblock %}

{% block content %}
<p>This is {{ curr_hmate.get_hhold_name }}.</p>

{% if curr_hmate.hhold.get_address_str %}
<address>
	{{ curr_hmate.hhold.get_address_str|linebreaksbr }}
</address>
{% endif %}

<ul>
	<li>Current Date: {{ curr_hmate.hhold.get_local_datetime|date }}</li>
	<li>Current Time: {{ curr_hmate.hhold.get_local_datetime|time }}</li>
	<li><a href="{% url hhold_edit %}">Edit</a></li>
	<li><a href="{% url hhold_leave %}">Leave</a></li>
</ul>

<h2>Housemates ({{ curr_hmate.hhold.hmates.count }})</h2>
<ul>
{% for hmate in curr_hmate.hhold.hmates.all %}
    <li>
		{% ifnotequal curr_hmate hmate %}
			<a href="{{ hmate.get_absolute_url }}">{{ hmate.get_full_name }}</a>
			{% if not hmate.has_logged_in %}
			(Hasn't logged in yet. <a href="{% url resend_add_email hmate.pk %}">Resend {{ hmate.get_full_name }}'s registration email</a>.)
			{% endif %}
		{% else %}
			{{ hmate.get_full_name }} (You)
		{% endifnotequal %}
	</li>
{% endfor %}
{% for invite in curr_hmate.hhold.invites.all %}
	<li>
		{{ invite.invitee.get_full_name }} (Hasn't accepted invitation yet.
		<a href="{% url invite_cancel invite.pk %}">Cancel invitation</a>.)
	</li>
{% endfor %}
</ul>

<p>
<form action="{% url num_hmates %}" method="POST">
	Add <input type="text" name="num_hmates" value="1" size="1" /> new housemate(s)
	<input type="submit" name="submit" value="Go!" /> or <a href="{% url invite_search %}">invite a housemate</a>.
</form>
</p>

<h2>Chores</h2>
<ul>
{% for chore in curr_hmate.hhold.chores.all %}
	<li><a href="{{ chore.get_absolute_url }}">{{ chore.name }}</a></li>
{% endfor %}
</ul>

<p><a href="{% url chore_add %}">Add a chore</a></p>

<img src="{{ MEDIA_URL }}{{ curr_hmate.hhold.pic }}" />
{% endblock %}