{% extends "base_sidehelp.html" %}

{% block title %}{{ curr_hmate.get_hhold_name }}{% endblock %}

{% block content %}
<div class="clearfix">
	
	<div id="my_hhold_meta_info">
		<h1 id="hhold_title">{{ curr_hmate.get_hhold_name }}</h1>

		{% if curr_hmate.hhold.get_address_str %}
		<address>
			{{ curr_hmate.hhold.get_address_str|linebreaksbr }}<br>
			<a href="{% url hhold_edit %}">Edit {{ curr_hmate.get_hhold_name }} details &raquo;</a>
		</address>
		{% endif %}
	</div>

	<div id="add_buttons">
		<a href="{% url hmate_add %}" class="clearfix blue_button">
			<span class="begin">Add more housemates</span>
			<span class="end"></span>
		</a>
		<a href="{% url chore_add %}" class="clearfix blue_button">
			<span class="begin">Add a chore</span>
			<span class="end"></span>
		</a>
	</div>

</div>

<h2>Housemates</h2>
<ul class="separated">
{% for hmate in curr_hmate.hhold.hmates.all %}
    <li>
		{% ifnotequal curr_hmate hmate %}
			<a href="{{ hmate.get_absolute_url }}">{{ hmate.get_full_name }}</a>
			{% if not hmate.has_logged_in %}
			(Hasn't logged in yet. <a href="{% url resend_add_email hmate.pk %}">Resend {{ hmate.get_full_name }}'s registration email</a>.)
			{% endif %}
		{% else %}
			{{ hmate.get_full_name }} (You)
		{% endifnotequal %}
	</li>
{% endfor %}
{% for invite in curr_hmate.hhold.invites.all %}
	<li>
		{{ invite.invitee.get_full_name }} (Hasn't accepted invitation yet.
		<a href="{% url invite_cancel invite.pk %}">Cancel invitation</a>.)
	</li>
{% endfor %}
</ul>
<p class="add_after_list"><a href="{% url hmate_add %}">Add more housemates &raquo;</a></p>

<h2>Chores</h2>
<ul class="separated">
{% for chore in curr_hmate.hhold.chores.all %}
	<li><a href="{{ chore.get_absolute_url }}">{{ chore.name }}</a></li>
{% endfor %}
</ul>
<p class="add_after_list"><a href="{% url chore_add %}">Add a chore &raquo;</a></p>
{% endblock %}
